#exec {
    padding: 110px 15% 75px 15%;
    background-color: #f8f9fa;  
    color: black;
    text-align: left;
    min-height: calc(100% - 281px);
}

#exec h1 {
    margin: 0 0 30px 0;
}

#exec h1,
#exec h3 {
    color: rgba(0, 0, 0, 0.9)
}

#exec h2,
#exec h4 {
    color: rgba(0, 0, 0, 0.6)
}

#exec h3,
#exec h4 {
    text-align: left;
}