

#gallery {
    color: black;
}

#gallery h2 {
    position: relative;
    font-size: 4vw;
    font-weight: bold;
    margin-bottom: 50px;
}

#canvas {
    max-width: 1800px;
    margin: 10px auto;
    padding: 75px;
}

.background {
    background-color: #e31837;
    background-image: -webkit-linear-gradient(249deg, #e31837 20%, #f8f9fa 20%);
}

.grid-container {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

.grid-container img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

.column-1 {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.column-2 {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.column-3 {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.column-4 {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.top-images {
    flex: 50%;
}

.lb-number {
    display: none;
}

@media screen and (max-width: 991px) {
    .background {
        background-color: #e31837;
        background-image: -webkit-linear-gradient(249deg, #e31837 3.2%, #f8f9fa 3.2%);
    }
    .column-1 {
        flex: 100%;
        max-width: 100%;
        padding: 0 4px;
    }
    .column-2 {
        flex: 100%;
        max-width: 100%;
        padding: 0 4px;
    }
    .column-3 {
        flex: 100%;
        max-width: 100%;
        padding: 0 4px;
    }
    .column-4 {
        flex: 100%;
        max-width: 100%;
        padding: 0 4px;
    }
    #gallery h2 {
        font-size: 2rem;
        margin-top: 55px;
        margin-bottom: 20px;
    }
    #canvas {
        padding: 0;
    }
}