html,
body {
    height: 100%;
}

h2 {
    text-align: center;
    font-size: 32px;
}

section {
    padding: 40px;
}

section:nth-child(even) {
    background-color: #f8f9fa;
}

section:nth-child(odd) {
    background-color: #e31837;
    color: white;
}

#navbar {
    position: fixed;
    width: 100%;
    z-index: 99;
    border-bottom: solid 1px lightgrey;
}

#navbar-logo {
    height: 50px;
}

#navbar a.nav-link {
    transition: 0.4s;
}

#navbar .active a.nav-link {
    color: #9a0100;
}

#navbar a.nav-link:hover {
    color: #9a0100;
    transition: 0.4s;
}

#contact {
    text-align: center;
    padding: 40px;
}

#contact img,
#contact p {
    display: inline-block;
    width: 80px;
    margin: 10px;
}

#contact p {
    width: 100%;
    margin-top: 20px;
}

#contact-email {
    vertical-align: middle;
    font-size: 126px;
}

#hero h2 {
    position: relative;
    top: calc(10% + 77px);
    font-size: 4.5vw;
    font-weight: bold;
}

#canvas {
    max-width: 1800px;
    margin: 10px auto;
    padding: 75px;
}

.background {
    background-color: #e31837;
    background-image: -webkit-linear-gradient(249deg, #e31837 20%, #f8f9fa 20%);
}

.grid-container {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

.grid-container img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

.column-1 {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.column-2 {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.column-3 {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.column-4 {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.top-images {
    flex: 50%;
}

.lb-number {
    display: none;
}

@media screen and (max-width: 991px) {
    .background {
        background-color: #e31837;
        background-image: -webkit-linear-gradient(249deg, #e31837 3.2%, #f8f9fa 3.2%);
    }
    .column-1 {
        flex: 100%;
        max-width: 100%;
        padding: 0 4px;
    }
    .column-2 {
        flex: 100%;
        max-width: 100%;
        padding: 0 4px;
    }
    .column-3 {
        flex: 100%;
        max-width: 100%;
        padding: 0 4px;
    }
    .column-4 {
        flex: 100%;
        max-width: 100%;
        padding: 0 4px;
    }
}