html,
body {
    height: 100%;
    color: rgba(0, 0, 0, 0.9);
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
    font-size: 32px;
}

body a:hover {
    text-decoration: none;
    color: unset;
}

section {
    padding: 40px;
    text-align: center;
}

section:nth-child(odd) {
    background-color: #f8f9fa;
}

section:nth-child(even) {
    background-color: #e31837;
    color: white;
}

#navbar {
    position: fixed;
    width: 100%;
    z-index: 99;
    border-bottom: solid 1px lightgrey;
}

#navbar-logo {
    height: 50px;
}

#navbar a.nav-link {
    transition: 0.4s;
}

#navbar .active a.nav-link {
    color: #9a0100;
}

#navbar a.nav-link:hover {
    color: #9a0100;
    transition: 0.4s;
}

#contact {
    padding: 40px 20px;
}

#contact {
    background: #e31837;
    color: white;
}

#contact img,
#contact p {
    display: inline-block;
    width: 80px;
    margin: 10px;
}

#contact p {
    width: 100%;
    margin-top: 20px;
}

#contact-email {
    vertical-align: middle;
    font-size: 126px;
}


/*
#hero {
    background: linear-gradient(
        rgba(255, 255, 255, 0.65), 
        rgba(255, 255, 255, 0)),
         url('../images/backgrounds/background_1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    padding-top: 96px;
    height: 100%;
    width: 100%;
}
*/

#hero {
    height: 100%;
}

#hero h2 {
    position: relative;
    top: calc(8% + 65px);
    font-size: 4.5vw;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.9);
}

#hero .title-split-2 {
    left: 14%;
    display: inline-block;
    position: relative;
}

#hero .gist {
    color: white;
    position: relative;
    text-align: right;
    width: 35%;
    top: calc(40% + 65px);
    left: 15%;
}

.diagonal-split-background {
    background-color: #e31837;
    background-image: -webkit-linear-gradient(69deg, #e31837 48%, #f8f9fa 48%);
}

#schedule #gym-img {
    width: 35%;
    margin: 0 2.5% 2.5% 2.5%;
    border: solid 15px #f8f9fa;
}

#schedule article {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    margin-left: 5%;
}

#schedule a {
    text-decoration: underline;
    color: unset;
}

#faq {
    transition: 0.8s ease;
    max-height: 170px;
    overflow: hidden;
}

#faq-toggle {
    transition: 0.8s ease;
    height: 50px;
    cursor: pointer;
    margin-bottom: 35px;
}

#faq-toggle.collapse {
    transform: rotate(180deg);
    display: inline;
}

#faq p:not(:last-child) {
    margin-bottom: 40px;
}

#hyperlink {
    color: white;
    text-decoration: none;
    background-color: none;
}

@media screen and (min-width: 750px) {
    section#faq.subsection {
        padding: 40px 140px;
    }
}

@media screen and (max-width: 1200px) {
    #hero .gist {
        text-align: left;
        width: 50%;
        left: 140px;
        top: calc(45% + 100px);
    }
}

@media screen and (max-width: 600px) {
    #hero h2 {
        font-size: 9vw;
    }
    #hero .gist {
        text-align: left;
        width: 100%;
        left: 0;
        top: calc(40% + 100px);
    }
    #schedule #gym-img {
        display: none;
    }
}

@media screen and (max-width: 375px) {
    #hero .gist {
        top: calc(35% + 100px);
    }
}

@media screen and (max-width: 320px) {
    #hero .gist {
        top: calc(30% + 100px);
    }
}


/* @media screen and (max-width: 600px) {
    #hero .gist {
        top: calc(35% + 100px);
    }
} */

#announcements {
    text-align: center;
}

#announcements .ann-message {
    margin-top: 30px;
}

#announcements .ann-title {
    margin: 0;
    font-size: 1.3rem;
}

#announcements .ann-date {
    font-style: oblique;
    margin: 0;
}

#announcements .ann-content {
    margin-top: 20px;
    margin-bottom: 0;
}

#announcements h1:first-child {
    margin-bottom: 25px;
}

#edit-container {
    width: calc(50% - 5px);
    display: inline-block;
    height: 100%;
    overflow: auto;
}

#preview-container {
    width: 50%;
    display: inline-block;
    height: 100%;
    overflow-y: auto;
}

#markdown-editor {
    height: calc(100% - 50px);
    width: 100%;
    display: block;
}

#edit-container .topnav {
    height: 50px;
    width: 100%;
}

#edit-container .topnav button {
    height: 30px;
}

#announcements {
    padding: 40px 15%;
}

#announcements h2 {
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
}

#announcements h1,
#announcements h3 {
    color: rgba(0, 0, 0, 0.9)
}

#announcements h2,
#announcements h4 {
    color: rgba(0, 0, 0, 0.6)
}