#team {
    padding: 110px 15% 75px 15%;
    background-color: #f8f9fa;  
    color: black;
    text-align: left;
    min-height: calc(100% - 281px);
}

#team h1 {
    margin: 0 0 30px 0;
}

#team h1,
#team h3 {
    color: rgba(0, 0, 0, 0.9)
}

#team h2,
#team h4 {
    color: rgba(0, 0, 0, 0.6)
}

#team h3,
#team h4 {
    text-align: left;
}