#exec {
    padding: 75px 15%;
    background-color: #f8f9fa;
    color: black;
    text-align: left;
    min-height: calc(100% - 282px);
}

#canvas {
    max-width: 1200px;
    margin: 10px auto;
    padding: 75px;
}

#header {
    font-size: 35px;
}